.home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url(../images/background.webp);
  background-size: cover;
  background-position: center;
}

.home-text {
  display: flex;
}

.home-text p {
  flex: 1;
}

.home-text-titulo {
  padding-left: 50px;
}

.space {
  width: 30px;
}

.title-main {
  padding: 14px;
}

body {
  width: 100%;
  overflow-x: hidden;
}
