.home {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background.webp);
  background-size: cover;
  background-position: center;
  border: 1px solid red;
}

.home-text {
  display: flex;
}

.home-text p {
  flex: 1;
}

.home-text-titulo {
  padding-left: 50px;
}

.home-text-frase {
  padding-top: 400px;
}

.title-main {
  padding: 14px;
}

body {
  width: 100%;
  overflow-x: hidden;
}
